.Modal-Wd {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 3px;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
  background-color: white;
  overflow-y: auto;
}

.InnerModal-Wd {
  width: 500px;
  height: 400px;
  overflow: auto;
  background-color: white;
}

.CloseBtnWrapper {
  width: 500px;
  height: 100px;
  background-color: rgb(160, 158, 158);
  /* border: 1px solid black; */
  position: absolute;
  /* bottom: 20px; */
}

.CloseBtn {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 25px);
}

.Data-Wd {
  width: 350px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.Data-Wd:hover {
  background-color: gray;
  cursor: pointer;
}

/* .Data-Wd:active {
  pointer-events: none;
  opacity: 0.3;
} */

.Title {
  height: 60px;
  border: 1px solid rgb(58, 57, 57);
  background-color: rgba(0, 0, 0, 1);
  position: sticky;
  top: 0;
  color: white;
}

.Wrapper {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
}
