table,
td,
th {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

th {
  font-size: 20px;
  border-bottom: 1px solid black;
}

.TableDiv {
  width: 50%;
  height: 500px;
  /* background-color: green; */
  margin: auto;
}
